/* .car {
    text-align: center;
    margin: 2rem 0;
  }
  .cart{
      margin: 2rem 0;
  }
  .img3 {
    height: 100px;
    width: 100px;
  }
  .cartcard {
    width: 30%;
    margin: 2rem 0;
    display: flex;
  }
  .carthead {
    font-size: 0.8rem;
    color: rgb(141, 137, 137);
  }
  .cartdetail {
    display: flex;
  }
  .productprice {
    font-size: 0.7rem;
    color: rgb(131, 130, 130);
  }
  .productname {
    margin: 1.7rem 0rem 0 0rem;
    font-size: 1.1rem;
    font-weight: lighter;
  }
  .qty {
    height: 2rem;
    width: 10rem;
    border: 1px solid rgb(179, 176, 176);
    padding: 6px;
    margin: 4rem 0;
  }
  .qtydetail {
    margin: 15px 5px 0 25px;
    cursor: pointer;
    color: rgb(114, 111, 111);
  }
  .total {
    margin: 4.3rem 0 0 0;
    color: rgb(114, 111, 111);
  }
  .hr {
    width: 100%;
    color: whitesmoke;
  }
  .oderdetail {
    height: 6rem;
    width: 20rem;
    border: 1px solid rgb(238, 233, 233);
    margin: 0.7rem 0;
    outline: none;
    padding: 0 0.7rem;
    color: rgb(138, 134, 134);
    border-radius: 3px;
  }
  .oderhead {
    font-weight: 100;
  }
  .checkout{
      text-align: right;
      margin: 4px;
  }
  .checkbtn{
      background-color: #232323;
      color:white;
      width: 50%;
      outline-color: #dfc5e7;
  }
  .checkbtn:hover{
      color: #221e1e;
  }
  @media screen and (max-width:670px ){
      .oderdetail{
          width: 100%;
      }
      .hr{
          display: none;
      }
      .carthead{
          display: none;
      }
      .total{
          display: none;
      }
      .qty{
          margin: 0rem 0rem 0rem 8.5rem;
          
      }
      .img3{
          width: 100%;
          height: 100%;
      }
      .productname{
          margin: 4rem 0 0 2rem;
      }
      .productprice{
          margin: 0rem 0 0 2rem;
          font-size: 1rem;
      }
      .cartcard{
          margin: 1rem 0;
      }
      
  } */

  .wrapper {
	max-width: 1000px;
	margin: 0 auto;
}
.wrapper h1 {
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}
.project {
	display: flex;
}
.shop {
	flex: 75%;
}
.box {
	display: flex;
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin-bottom: 20px;
	background: #fff;
	transition: all .6s ease;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box:hover {
	border: none;
	transform: scale(1.01);
}
.box .img2 {
	width: 300px;
	height: 200px;
    object-fit: cover;
    padding-bottom: 1rem;
}
.content {
	padding: 20px;
	width: 100%;
	position: relative;
}
.content h3 {
	margin-bottom: 30px;
}
.content h4 {
	margin-bottom: 50px;
}
.btnarea {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 25px;
	background-color: #3a71a9;
	color: white;
	cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnarea:hover {
	background-color: rgb(218, 35, 22);
	color: #fff;
	font-weight: 600;
}
.unit input {
	width: 40px;
	padding: 5px;
	text-align: center;
}
.btnarea i {
	margin-right: 5px;
}
.rightbar {
	flex: 25%;
	padding: 20px;
    height: 400px;
    max-width: 1000px;
	border-radius: 5px;
	background: #fff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.rightbar hr {
	margin-bottom: 25px;
}
.rightbar p {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;
}
.rightbar a {
	background-color: #76bfb6;
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-weight: 900;
}
.rightbar i {
	margin-right: 15px;
}
.rightbar a{
    background-color: #3972a7;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.del{
    margin: 0 1rem;
}
.rightbar a:hover {
	background-color: #4ad1c1;
}

@media screen and (max-width: 500px){
    .btnarea{
        top: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 40%;
        height: 2.3rem;
        width: 6rem;
        font-size: .9rem;

    }
    .ico{
        font-size: .7rem;
  
    }
}
@media screen and (max-width: 700px) {
	.content h3 {
		margin-bottom: 15px;
	}
	.content h4 {
		margin-bottom: 20px;
	}
	.btn2 {
        display: none;
	}
	.box {
		height: 200px;
	}
	.box img {
		height: 150px;
		width: 200px;
    }
    /* .btnarea{
        top: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 25%;
        height: 2.3rem;
        width: 6rem;
        font-size: .9rem;

    }
    .ico{
        font-size: .7rem;
  
    } */
}
@media screen and (max-width: 900px) {
	.project {
		flex-direction: column;
	}
	.right-bar {
		margin-left: 0;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 1250px) {
	.wrapper {
		max-width: 95%;
	}
}